<section class="section-cms">
    <div class="navCMS">
        <a class="btnRedirection" href="/admin">Accueil CMS</a>
        <a class="btnDanger" href="/admin/logout">Déconnexion</a>
    </div>
    <div class="section-title">{{title}}</div>
    <div class="separator"></div>
</section>
<section class="formulaire">
    <form action="/admin/add-admin" method="POST">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
        <input id="btnVal3" type="submit" value="Ajouter">
    </form>
</section>