<section class="formulaire">
    <h1>{{title}}</h1>
    {{log document}}
    <form action="/admin/login" method="POST">
        <div>
            <h5 class="error-form">{{erreur}}</h5>
        </div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
        <div class="contact-btn">
            <button type="submit" value="ENVOYER" class="cta-secondaire">CONNECTION</button>
        </div>
    </form>
</section>