<section class="section-cms">
    <div class="navCMS">
        <a class="btnRedirection" href="/admin">Accueil CMS</a>
        <a class="btnDanger" href="/admin/logout">Déconnexion</a>
    </div>
    <div class="section-title">{{title}}</div>
    <div class="separator"></div><p class="cms-info">Votre page blog affiche présentement <strong>{{numArticle}}</strong> articles</p>
</section>
<section>
    <h5>{{info}}</h5>

    {{#each articles}}
    <div class="articleMod">

        <div class="imageBlock">
            <img src="{{this.img}}" alt="image article">

        </div>
            
        <div class="spaceBefore">

            <h3 class="spaceAfter">{{this.title}}</h3>

            <div class="flex flexSpaceBetween spaceAfter">
                <p class="p_bold">{{this.author}}</p>
                <p>{{this.datePublished}}</p>
            </div>

            <p class="spaceAfter">{{this.resum}}</p>
            <p class="categoryArticleBlog spaceAfter">{{this.category}}</p>

            <div class="navCMS spaceAfter spaceBefore">
                <div class="flex">
                    <p class="marginRight"><a class="btnRedirec" href="/article/{{this.id}}">LIRE</a></p>
                    <p><a class="btnValidation" href="/admin/edit/{{this.id}}">ÉDITER</a></p>
                </div>

                <p><a class="btnDel" href="/admin/delete/{{this.id}}">SUPPRIMER</a></p>
            </div>

 

        </div>



    </div>

    {{/each}}

</section>