﻿<section>
    <h1 class="headline">{{title}}</h1>
</section>
<section>
    <div class="flex heroText">
        <div class="heroTextBlock">
            {{#each propos}}
            <h2 class="h1">{{this.subTitle1}}</h2>
            {{/each}}
            <div class="separator"></div>
            {{#each propos}}
            <p>{{this.content}}</p>
            {{/each}}
        </div>
        <img src="/images/imgPropos/laptop-propos.png" alt="image laptop">
    </div>
</section>
<section class="flexColumn" id="FMteam">
    {{#each propos}}
    <h2 class="h1">{{this.subTitle2}}</h2>
    {{/each}}
    <div class="treeCol">
        {{#each teammates}}
        <div class="carte" data-aos="flip-right">
            <h3 class="alignCenter">{{this.name}}</h3>
            <div class="flex fill">
                <img src="{{this.img}}" class="fillImg" alt="image des membres">
            </div>
            <div class="separatorFullWidth"></div>
            <div class="carteTextbloc">
                <h4>{{this.userName}}</h4>
                <p>{{this.quote}}</p>
            </div>
            <div class="carteTextbloc flex flexSpaceBetween">
                <a href="{{webSite}}" id="siteperso" class="carteTextblocIcons">
                    <img src="/images/icons/websiteicon.svg" alt="image site web perso">
                    <span class="hover-border carteTextblocIconsText">
                        SITE PERSO
                    </span>
                </a>
                <a href="{{linkedin}}" id="linkedin">LINKEDIN</a>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<section>
    <div class="flex heroText">
        <div class="heroTextBlock">
            {{#each propos}}
            <h2 class="h1">{{this.subTitle3}}</h2>
            {{/each}}
            <div class="separator"></div>
            {{#each propos}}
            <p>{{this.content}}</p>
            {{/each}}
        </div>
        <img src="/images/imgPropos/histoire.svg" alt="">
    </div>
</section>